swagger: '2.0'
info:
  version: 0.1.0
  title: Api RestFul en Nodejs
  license:
    name: MIT
  description: >-
    Aplicación que expone servicios de ayuda para preparación de datos y
    ejecución de pruebas. Porque las pruebas en la integración continua es
    nuestra meta.
  contact:
    name: Iván Sebastian Ortega Huixtlacatl
    url: isortegah.me
    email: isortegah@gmail.com
host: demoapinode.isortegah.com
basePath: /
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: version
    description: >-
      Servicio que ayuda a verificar la salud de la aplicación y muestra la
      versión publicada.
  - name: token
paths:
  /version:
    x-swagger-router-controller: version
    get:
      tags:
        - version
      summary: >-
        Servicio que permite ademas de saber la versión que se encuentra
        desplegada, saber si esta respondiendo la API.
      description: Regresa la version API desplegada
      operationId: version
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Version'
  /swagger:
    x-swagger-pipe: swagger_raw
definitions:
  Version:
    properties:
      version:
        type: string
